# Created by .ignore support plugin (hsz.mobi)
### Laravel template
vendor/
node_modules/
npm-debug.log

# Laravel 4 specific
Laravel/bootstrap/compiled.php
Laravel/app/storage/

# Laravel 5 & Lumen specific
laravel/public/storage
Laravel/public/hot
storage/*.key
Laravel/.env.*.php
Laravel/.env.php
Laravel/.env
Laravel/Homestead.yaml
Laravel/Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

.idea/
